.reverse {
  flex-direction: row-reverse;
}

.project-card {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  display: flex;

  .card-left {
    width: 50%;

    .image {
      max-width: 100%;
      transition: ease-in-out 10s;
      height: 400px;
      background-size: cover;
      background-position: top;
      cursor: pointer;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      &:hover {
        background-position: bottom;
      }
    }
  }

  .card-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;

    h3 {
      color: black;
      font-weight: bold;
      font-size: 16px;
    }

    p {
      color: #767676;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      text-transform: none;
      max-width: 80%;
    }
    .skills-box {
      display: flex;
      gap: 8px;
      max-width: 80%;
      flex-wrap: wrap;
      justify-content: center;
      .skill {
        font-size: 18px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black;
        font-weight: bold;
        padding: 10px;
        margin: 0;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 20px;
      a {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: black;
        text-decoration: none;
        gap: 4px;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #68dcfc;
        }

        .icon {
          font-size: 26px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .project-card {
    flex-direction: column;
    .card-left {
      width: 100%;
    }
    .card-right {
      width: 100%;

      h3 {
        margin: 30px 0px 20px 0px;
      }

      .skills-box {
        margin-bottom: 10px;

        .skill {
          font-weight: 500;
        }
      }
    }
  }
}
