.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9998;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s linear;

  a {
    color: black;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.mobile-nav.hidden {
  transform: translateX(-100%);
}

.mobile-dropdown-btn {
  display: none;
}

#root > nav {
  padding: 15px 0px 15px 0px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 1px 2px 0px
    rgba(2.9999999999999982, 12.000000000000027, 37, 0.16);
  max-width: 100vw;
  overflow-x: hidden;

  .header-container {
    .name-logo {
      font-weight: bold;
      font-size: 24px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #68dcfc;
      }
    }

    .links-container {
      display: flex;
      gap: 15px;
      a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #68dcfc;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .header-container {
    .links-container {
      display: none !important;
    }
  }
  .mobile-dropdown-btn {
    display: block;
    font-size: 30px;
    color: #041c5e;
  }
}
